body {
  background-color: #f5f5f5;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.menu-lateral {
  height: 100vh;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2a2a4a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #f5f5f5;
}

.menu-lateral h1 {
  font-size: 26px;
  margin-bottom: 20px;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
}

.links a {
  color: #f5f5f5;
  text-decoration: none;
  margin-bottom: 25px;
  font-size: 20px;
}

.links a:hover {
  text-decoration: underline;
}

.conteudo {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.home img,
.destinos img,
.pacotes img {
  width: 100%;
  min-width: 300px;
  border-radius: 10px;
}

.local-cards {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  width: 300px;
  border: 1px solid #f5f5f5;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.local-contato {
  min-width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 10px;
  color: #f5f5f5;
  padding: 20px;
}
